@import  url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
h1 {
  text-align: center;
}
body {
  background-color: #77815c;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}
.white-box {
  background-color: #000;
  color: #666644;
  margin: 40px 18%;
  padding: 5% 5% 5% 10%;
  font-family: cursive;
  font-weight:0;
}

.random-quote { 
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
}
.random-author {
  font-size: 1.2em;
  text-align: right;
}
.button {
  background-color: #6082b6;
  color: #FFFFFF;
  border: none;
  float: left;
  margin: 15px 5px auto auto;
  padding: 5px 10px 5px 10px;
}
.button {
  opacity: 1;
}
.button:hover {
  opacity: 0.75;
}
.new-quote-button {
  float: right;
}
